#app {
  max-width: 100dvw;
  min-height: 100dvh;
  margin: 0 auto;
}
main {
  padding-top: 128px;
  min-height: 50dvh;
}
a {
  font-weight: 500;
  color: hotpink;
  text-decoration: inherit;
  &:hover {
    color: yellow;
  }
}
a:visited {
  color: color-mix(in srgb, hotpink 75, grey);
  content: ' ✅';
}
code {
  font-family: monospace;
  background-color: black;
  color: yellow;
  padding: 8px; 
  line-height: 1.5
}
button {
  font-family: inherit;
  font-weight: 500;
  font-size: 1em;
  margin: 8px;
  padding: 0.6em 1.2em;
  cursor: pointer;
  border: none;
  border-collapse: collapse;
  border-radius: 4px;
  background-color: hotpink;
  transition: border-color 0.25s;

  &:hover {
    background-color: rgb(127, 255, 200 );
    cursor: pointer;
  }
}

ul {
  list-style: none;
  & li {
    line-height: 2;
    font-weight: 700;
    &:before {
      content: '🎉 ';
    }
  }
 
}
